{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    {% comment %} <style>
        * {
           text-align: center;
            
        }
        </style> {% endcomment %}
        <!-- <style>
          body{
                background-color: #f1f1f1;
          }
          </style> -->
          {% if message %}
          <script>
              alert("{{message}}")
          </script>
          {% endif %}
</head>

<body>
    
      <center>
        
        <h2>Login to Movie Database</h2>
        
        <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button> -->
        
        <div  class="modal" id="">
          
          <form method="POST" action = "{% url 'demoApp:login1' %}" >
            {% csrf_token %}

            <div class="imgcontainer">
              <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
              <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
            </div>
        
            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" ><br><br>
        
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" ><br><br>
                
              <button type="submit">Login</button><br><br>
              <!-- <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label><br><br> -->
            </div>
        
            <div class="container">
              <!-- <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> -->
              <span class="psw"> <a href="{% url 'demoApp:forgetPassword' %}">Forgot Password?</a></span>
            </div>
          </form>
        </div>
        
        
      </center>
 
    {% endblock %}
    
</body>
</html>