<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
           text-align: center;
            
        }
        </style>
</head>

<body>
    {% block content %}

        
        {% if message %}
            <script>
                alert("password not match")
            </script>
        {% endif %}
        <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button> -->
        
        <div  class="modal" id="">
          
          <form method="POST" action = "{% url 'demoApp:resetpassword' %}" >
            {% csrf_token %}
            <input hidden value="{{newEmail}}" type="text" placeholder="Enter Username" name="email" required><br><br>
            <h2>Reset Password</h2>
            <div class="imgcontainer">
              <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
              <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
            </div>
        
            <div class="container">

              <label for="uname"><b>Password</b></label>
              <input type="text" placeholder="Enter Username" name="psw" required><br><br>
                            
              <label for="psw"><b>Confirm Password</b></label>
              <input type="password" placeholder="Enter Password" name="cpsw" required><br><br>
                <!-- <input type="text" value="{{ email }}"> -->
              <button type="submit">Submit</button><br><br>
              <!-- <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label><br><br> -->
            </div>
        
            <div class="container" style="background-color:#f1f1f1">
            
            </div>
          </form>
        </div>
        
        <!-- <script>
        // Get the modal
        var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        </script> -->
        
    {% endblock content%}
    
</body>
</html>